<footer class="site-footer">
  <div class="container">
    <p>© Ryoko Kino</p>
    <p class="sns">
      Please check & follow SNS accounts!
      <!-- 画像をローカルに置く場合は /assets/img/... に変更 -->
      <a href="https://www.instagram.com/ryk_0710/" target="_blank" rel="noopener"><img src="/assets/img/insta.png" alt="Instagram" height="20"></a>
      <a href="https://www.facebook.com/ryoko.kino0710/" target="_blank" rel="noopener"><img src="/assets/img/facebook.png" alt="Facebook" height="20"></a>
      <a href="https://github.com/Ryoko0710" target="_blank" rel="noopener"><img src="/assets/img/github.png" alt="GitHub" height="20"></a>
      <a href="https://twitter.com/hkkr710" target="_blank" rel="noopener"><img src="/assets/img/x.png" alt="X" height="20"></a>
    </p>
  </div>
</footer>
