<header class="site-header">
  <div class="container header-inner">
    {% if page.lang == 'en' %}
      <h1><a href="/en/">Ryoko Kino</a></h1>
    {% else %}
      <h1><a href="/">Ryoko Kino</a></h1>
    {% endif %}

    <nav>
      {% if page.lang == 'en' %}
        <a href="/en/cv/">CV</a>
        <a href="/en/publications/">Publications</a>
        <a href="/en/talk/">Talks</a>
        <a href="/en/meeting/">Meeting</a>
        <span class="lang"><b>EN</b> / <a href="/">日本語</a></span>
      {% else %}
        <a href="/cv/">CV</a>
        <a href="/publications/">Publications</a>
        <a href="/talk/">Talks</a>
        <a href="/meeting/">Meeting</a>
        <span class="lang"><a href="/en/">EN</a> / <b>日本語</b></span>
      {% endif %}
    </nav>
  </div>
</header>
