<header class="site-header {% if page.header_size == 'small' %}is-compact{% endif %}">
  <div class="container header-inner">
    {% if page.lang == 'en' %}
      <h1><a href="/en/">Ryoko Kino's Home</a></h1>
    {% else %}
      <h1><a href="/">Ryoko Kino's Home</a></h1>
    {% endif %}
    <nav>
      {% if page.lang == 'en' %}
        <a href="/en/cv/">CV</a>
        <a href="/en/research/">Research</a>
        <a href="/en/publications/">Publications</a>
        <a href="/en/talk/">Talks</a>
        <span class="lang"><b>EN</b> / <a href="/">日本語</a></span>
      {% else %}
        <a href="/cv/">履歴書</a>
        <a href="/research/">研究</a>
        <a href="/publications/">論文</a>
        <a href="/talk/">発表リスト</a>
        <span class="lang"><a href="/en/">EN</a> / <b>日本語</b></span>
      {% endif %}
    </nav>
  </div>
</header>
