<div class="profile-card">
  <img class="profile-photo" src="/assets/img/profile.jpg" alt="Ryoko Kino portrait">
  {% if page.lang == 'en' %}
    <h3>Ryoko KINO</h3>
    <p>
      JSPS Postdoctoral Fellow (PD)<br>
      RIKEN (from Oct. 2025)<br>
      Hypernuclear/kaonic-nuclei experiments
    </p>
    <p class="mono">ryoko.kino [at] riken.jp</p>
    <ul class="profile-links">
      <li><a href="/en/cv/">CV</a></li>
      <li><a href="/en/publications/">Publications</a></li>
      <li><a href="/en/talk/">Talks</a></li>
      <li><a href="https://github.com/Ryoko0710" target="_blank" rel="noopener">GitHub</a></li>
    </ul>
  {% else %}
    <h3>木野 量子（Ryoko KINO）</h3>
    <p>
      日本学術振興会 特別研究員PD<br>
      理化学研究所（2025年10月〜）<br>
      ハイパー核・K中間子原子核 実験
    </p>
    <p class="mono">ryoko.kino [at] riken.jp</p>
    <ul class="profile-links">
      <li><a href="/cv/">CV</a></li>
      <li><a href="/publications/">Publications</a></li>
      <li><a href="/talk/">Talks</a></li>
      <li><a href="https://github.com/Ryoko0710" target="_blank" rel="noopener">GitHub</a></li>
    </ul>
  {% endif %}
</div>
